apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: securenexus-default-deny
  namespace: staging
  labels:
    app.kubernetes.io/part-of: securenexus
spec:
  podSelector:
    matchLabels:
      app: securenexus
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from: []
      ports:
        - protocol: TCP
          port: 5000
  egress:
    - to: []
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 443
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: securenexus-default-deny
  namespace: uat
  labels:
    app.kubernetes.io/part-of: securenexus
spec:
  podSelector:
    matchLabels:
      app: securenexus
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from: []
      ports:
        - protocol: TCP
          port: 5000
  egress:
    - to: []
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 443
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: securenexus-default-deny
  namespace: production
  labels:
    app.kubernetes.io/part-of: securenexus
spec:
  podSelector:
    matchLabels:
      app: securenexus
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from: []
      ports:
        - protocol: TCP
          port: 5000
  egress:
    - to: []
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 443
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
