apiVersion: v1
kind: Secret
metadata:
  name: securenexus-secrets
  namespace: staging
type: Opaque
stringData:
  DATABASE_URL: "REPLACE_ME"
  SESSION_SECRET: "REPLACE_ME"
  S3_BUCKET_NAME: "securenexus-platform-557845624595"
  AWS_REGION: "us-east-1"
---
apiVersion: v1
kind: Secret
metadata:
  name: securenexus-secrets
  namespace: uat
type: Opaque
stringData:
  DATABASE_URL: "REPLACE_ME"
  SESSION_SECRET: "REPLACE_ME"
  S3_BUCKET_NAME: "securenexus-platform-557845624595"
  AWS_REGION: "us-east-1"
---
apiVersion: v1
kind: Secret
metadata:
  name: securenexus-secrets
  namespace: production
type: Opaque
stringData:
  DATABASE_URL: "REPLACE_ME"
  SESSION_SECRET: "REPLACE_ME"
  S3_BUCKET_NAME: "securenexus-platform-557845624595"
  AWS_REGION: "us-east-1"
